{% extends 'base_admin.html.twig' %}

{% block title %}New Color{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #2c2c2c;
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #f44336;
            margin-bottom: 20px;
        }

        .create-form {
            max-width: 600px;
            margin: 20px auto;
            background-color: #444;
            padding: 20px;
            border-radius: 8px;
            overflow: hidden;
        }

        .create-form label {
            display: block;
            margin-bottom: 8px;
            color: #b3d7ff;
        }

        .create-form input {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #333;
            border-radius: 3px;
            background-color: #555;
            color: #fff;
        }

        .back-to-list-btn {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 3px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            background-color: #4caf50;
            color: #fff;
            transition: background-color 0.3s;
            margin-top: 20px;
        }
        .btn{
            display: inline-block;
            padding: 10px 20px;
            background-color: #f44336;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
            font-weight: bold;
            margin-top: 20px;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .back-to-list-btn:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Create New Color</h1>

    <div class="create-form">
        {{ include('color/_form.html.twig') }}
    </div>
    <a href="{{ path('app_color_index') }}" class="back-to-list-btn">Back to list</a>

{% endblock %}